# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. numpy
2. pandas
3. matplotlib
4. scikit-learn


<table>
  <thead>
    <tr>
      <th>Data Science Tools</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> jupyter notebooks</td>
    </tr>
    <tr>
      <td>R studio</td>
    </tr>
     <tr>
      <td>python </td>
    </tr> 
  </tbody>
</table>

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# This is a simple arithmetic expression to multiply then add integers:
result = (3*4)+5
print( "result = " +str(result))

result = 17

In [11]:
#This will convert 200 minutes to hours by diving by 60
# minutes to hours
minutes = 200
res = minutes / 60
print (str(res) +  " hours" )

3.3333333333333335 hours

**Objectives:
- in this note book i have covered some of the popular tools and libraries used by data scientists
- in this jupyter notebook i have covered some basic arthimetic functions  examples in python
- i have also covered various ways to create headings in the  markdown cells in jupyter notebooks

## Author: Nihith Nath K